body {
    background-color: #ffebf7;
}

#logo {
    margin: 20px auto;
    
}


#heading {
    font-family: Lato, "san-serif";
    text-align: center;
    font-size: 13px;
}


br2 {
    display: block;
    line-height: 17px;
}

#footer {
    font-family: Lato, "san-serif";
    text-align: center;
    font-size: 9px;
    

}

#sophie {
    font-family: "Lato-Medium", "san-serif";
    text-align: center;
    font-size: 13px;
}

a {
    color: #000;
    text-decoration: none;
    font-family: "Lato-Bold", "san-serif";
}

a:hover {
    color: #fff;
    text-decoration: none;
}

#helloworld:hover, #classpage:hover, #nextpage:hover, #fmta:hover, #catalog:hover {
    opacity: 0;
}



.pointer { 
    cursor: pointer; }