body {
  
    background-color: #f4e6a2;
}

h1, body {
    font-family: "Gotham Rounded", sans-serif;
     color: #2b4268;
  
}

h1 {
    font-size: 40px;
    text-align: left;
}

p {
    font-size: 12px;
    text-align: left;
}

em {
    font-size: 12px;
    text-align: left;
}

strong {
    font-size: 15px;
    text-align: left;
}

a {
    font-size: 12px;
    color: #2b4268;
    text-decoration: border;
    text-align: left;
}

a:hover {
    color: #f4e6a2;
    text-decoration: none;
}

ul {
    font-size: 10px;
    text-align: left;
}

sup, sub {
    font-size: 10px;
}
